#card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative
}


.container #card {
  margin: 0;
  display: block;
  position: absolute;
  backface-visibility: hidden;
}


#card:hover  {
  transform: rotateY( 180deg );
  transition: transform 1.4s;
}


.container { 
  width: 75px;
  height: 100px;
  perspective: 800px;
}